<!DOCTYPE html>
<html>
    <head>
        <title>Hyperledger Fabric</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript"></script> 

    </head>
    <body style="background-color: rgba(19, 35, 47, .9);">

      
            
                
                
        
        <%-body %>
        <div style="background-color: #f0ecde; text-align: center ;width:100%; padding:10px;border-radius: 20px 150px 20px 150px;border: solid thin rgba(19, 35, 47, .9)">
        Copyright &#169; Smart Policing System Using Hyperledger Fabric Web Interface. All right reserved </div>
        



<style>
  a:hover{
  text-decoration: none;
  }
  </style>            
  </body>
</html>